<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.peaceallapps.hellosample"
	version 	= "1.1.0">

    <name>Hello</name>

    <description>
        It is a hello word sample
    </description>

    <author href="https://github.com/peaceall236"		email="roiry25@gmail.com">
        Peace ALL
    </author>
<feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="*" />

    <preference name="orientation" value="portrait" />
</widget>
